<a href="https://colab.research.google.com/github/codecx07/PUBG-Finish-Placement-Predicition/blob/master/PUBG_Finish_Placement_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
id = '1j23rhbSuMIJkX4JOaP35Dg4QaLsmgqzR'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
pubg_train = pd.read_csv('Filename.csv')

id = '1t-45ztlJctT8UAAHEe1jbThwNsyPw0DB'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('Filename.csv')  
pubg_test = pd.read_csv('Filename.csv')

In [0]:
print(pubg_train.shape)
pubg_train.head()

(4446966, 29)

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
0,7f96b2f878858a,4d4b580de459be,a10357fd1a4a91,0,0,0.00,0,0,0,60,...,0,0.0000,0,0.00,0,0,244.80,1,1466,0.4444
1,eef90569b9d03c,684d5656442f9e,aeb375fc57110c,0,0,91.47,0,0,0,57,...,0,0.0045,0,11.04,0,0,1434.00,5,0,0.6400
2,1eaf90ac73de72,6a4a42c3245a74,110163d8bb94ae,1,0,68.00,0,0,0,47,...,0,0.0000,0,0.00,0,0,161.80,2,0,0.7755
3,4616d365dd2853,a930a9c79cd721,f1f1f4ef412d7e,0,0,32.90,0,0,0,75,...,0,0.0000,0,0.00,0,0,202.70,3,0,0.1667
4,315c96c26c9aac,de04010b3458dd,6dc8ff871e21e6,0,0,100.00,0,0,0,45,...,0,0.0000,0,0.00,0,0,49.75,2,0,0.1875

In [0]:
print(pubg_test.shape)
pubg_test.head()

(1934174, 28)

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
0,9329eb41e215eb,676b23c24e70d6,45b576ab7daa7f,0,0,51.46,0,0,0,73,...,1500,0,0.0,0,0.0,0,0,588.0,1,0
1,639bd0dcd7bda8,430933124148dd,42a9a0b906c928,0,4,179.10,0,0,2,11,...,1503,2,4669.0,0,0.0,0,0,2017.0,6,0
2,63d5c8ef8dfe91,0b45f5db20ba99,87e7e4477a048e,1,0,23.40,0,0,4,49,...,1565,0,0.0,0,0.0,0,0,787.8,4,0
3,cf5b81422591d1,b7497dbdc77f4a,1b9a94f1af67f1,0,0,65.52,0,0,0,54,...,1465,0,0.0,0,0.0,0,0,1812.0,3,0
4,ee6a295187ba21,6604ce20a1d230,40754a93016066,0,4,330.20,1,2,1,7,...,1480,1,0.0,0,0.0,0,0,2963.0,4,0

In [0]:
pubg_train.sort_values(by = ['matchId', 'groupId', 'matchType'], inplace = True)
pubg_train.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints,winPlacePerc
2639119,023a9418cf67b0,18b16ec699d8b6,0000a43bce5eec,0,0,200.00,2,0,1,21,...,0,0.0,0,0.0,0,0,73.970,1,1474,0.3333
2843474,6703bc191cff0a,18b16ec699d8b6,0000a43bce5eec,0,1,19.35,0,0,0,61,...,0,0.0,0,0.0,0,0,189.400,1,1484,0.3333
1425950,5a3afae17b53c0,236ab9e9c081b9,0000a43bce5eec,0,0,66.65,0,0,0,93,...,0,0.0,0,0.0,0,0,17.510,1,1430,0.0370
1998699,e431d8a8f6c99b,236ab9e9c081b9,0000a43bce5eec,0,0,21.29,0,0,0,92,...,0,0.0,0,0.0,0,0,5.201,1,1503,0.0370
2290792,e7b325d63d8393,236ab9e9c081b9,0000a43bce5eec,0,0,0.00,0,0,0,91,...,0,0.0,0,0.0,0,0,18.650,1,1450,0.0370

In [0]:
pubg_test.sort_values(by = ['matchId', 'groupId', 'matchType'], inplace = True)
pubg_test.head()

,Id,groupId,matchId,assists,boosts,damageDealt,DBNOs,headshotKills,heals,killPlace,...,rankPoints,revives,rideDistance,roadKills,swimDistance,teamKills,vehicleDestroys,walkDistance,weaponsAcquired,winPoints
123846,f52eb1f272953a,01fb9c20f6abc2,0008c31a9be4a7,0,0,0.0,0,0,0,76,...,-1,0,0.0,0,0.0,0,0,127.3,3,1485
753448,8a145398be1344,01fb9c20f6abc2,0008c31a9be4a7,0,0,0.0,0,0,0,77,...,-1,0,0.0,0,0.0,0,0,433.9,1,1460
1156055,99507e2f33cfa2,01fb9c20f6abc2,0008c31a9be4a7,0,1,83.0,0,0,0,75,...,-1,0,0.0,0,0.0,0,0,395.2,3,1502
245937,b710749e3445c7,0943c3f283b976,0008c31a9be4a7,0,6,104.0,1,0,2,22,...,-1,0,432.0,0,0.0,0,0,2855.0,6,1392
181494,be85c709aca6e3,11b26f1f710257,0008c31a9be4a7,3,4,238.2,1,0,3,20,...,-1,0,0.0,0,0.0,0,0,2914.0,3,1464

In [0]:
print(pubg_train['matchType'].unique())

['squad-fpp' 'solo' 'duo' 'duo-fpp' 'solo-fpp' 'squad' 'normal-solo-fpp'
 'normal-squad-fpp' 'normal-solo' 'normal-duo-fpp' 'crashfpp'
 'normal-squad' 'flaretpp' 'normal-duo' 'flarefpp' 'crashtpp']

In [0]:
print(pubg_train.shape)

(4446966, 29)

In [0]:
print(pubg_test.shape)

(1934174, 28)

In [0]:
pubg_train.columns.values

array(['Id', 'groupId', 'matchId', 'assists', 'boosts', 'damageDealt',
       'DBNOs', 'headshotKills', 'heals', 'killPlace', 'killPoints',
       'kills', 'killStreaks', 'longestKill', 'matchDuration',
       'matchType', 'maxPlace', 'numGroups', 'rankPoints', 'revives',
       'rideDistance', 'roadKills', 'swimDistance', 'teamKills',
       'vehicleDestroys', 'walkDistance', 'weaponsAcquired', 'winPoints',
       'winPlacePerc'], dtype=object)

In [0]:
pubg_train.dropna(inplace = True)
pubg_test.dropna(inplace = True)

In [0]:
X_train = pubg_train.groupby(['groupId'])['assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'revives', 'rideDistance',
       'roadKills', 'swimDistance', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints', 'winPlacePerc'].mean()
y_train = X_train['winPlacePerc']
del X_train['winPlacePerc']
X_train.shape, y_train.shape

((2026744, 19), (2026744,))

In [0]:
X_test = pubg_test.groupby(['groupId'])['assists', 'boosts', 'damageDealt', 'DBNOs',
       'headshotKills', 'heals', 'killPlace', 'killPoints', 'kills',
       'killStreaks', 'longestKill', 'revives', 'rideDistance',
       'roadKills', 'swimDistance', 'vehicleDestroys', 'walkDistance',
       'weaponsAcquired', 'winPoints'].mean()
X_test.shape

(886238, 19)

In [0]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression

In [0]:
sc = StandardScaler()
X_train_std = sc.fit_transform(X_train)
X_test_std = sc.transform(X_test)

In [0]:
reg = LinearRegression().fit(X_train_std, y_train)

In [0]:
y_test = reg.predict(X_test_std)
print(y_test.shape)

(886238,)

In [0]:
final =  pd.DataFrame({'groupId': pubg_test['groupId'].unique(), 'winPlacePerc': y_test})
submission = pd.DataFrame({'Id': pubg_test['Id'], 'groupId': pubg_test['groupId']})

In [0]:
submission = submission.merge(final, on = 'groupId')
submission.head()

               Id         groupId  winPlacePerc
0  f52eb1f272953a  01fb9c20f6abc2      0.815772
1  8a145398be1344  01fb9c20f6abc2      0.815772
2  99507e2f33cfa2  01fb9c20f6abc2      0.815772
3  b710749e3445c7  0943c3f283b976      0.286193
4  be85c709aca6e3  11b26f1f710257      0.835316

In [0]:
del submission['groupId']

In [0]:
submission.to_csv('submission1.csv', sep='\t')

In [0]:
from google.colab import files
files.download("submission1.csv")